$flex: flex;
@mixin button{

    background-color: white;
    display: inline-block;
    height: 58px;
    width: 20%;
    align-self: center;
    border: none;
    border-radius: 5px;

}
    // Color
    $bl:black;
h1,h2,h3,h4,h5 {
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1rem;
}
header {
  display: $flex;
  flex-direction: column;
  background-color: lightblue;
  color:$bl;
  text-align: center;
  nav {
    display: $flex;
    justify-content: space-between;
    margin: 2% 5%;
   ul {
    display: $flex;
    list-style: none;
    justify-content: space-between;
      li {
      margin-right: 1rem;
      }
   }
   ul:first-of-type {
     padding-left: 10%;
   }
  }
  .img_titre {
    align-self: center;
    width: 8%;
    height: auto;
    border-radius: 100%;
  }
}
header :nth-child(n+1) {
  margin-bottom: 1.5rem;
}
.art{
    max-width: 40%;
    margin: 2rem;
}
section{
    width: 90%;
    margin:auto;
    display: $flex;
}
.right{
    justify-content: flex-end;
}
.left{
    justify-content: flex-start ;
}
button{
    @include button;
    
}
.center{
    width: 90%;
    margin:auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6%;
    button{
        @include button;
        background-color: green;

    }
}
